.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  border: 1px solid var(--mantine-color-gray-3);
}

.chevron {
  transform: rotate(270deg);
  &[data-rotate] {
    transform: rotate(360deg);
  }
}

.label {
  font-size: var(--mantine-font-size-sm);
}
